<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ABCpdfLicence10" value="X/VKS08wmMhAtn4jNv3DOcikae8bCdcYlqznwb2zWRllmwrOdzm+CqofKHk/hAUJDskx/CNGp0QVy6ghTL56yE0gY2WebUcFvhkuC+TQKnzH802MzuogGKbjY1S5c34pWqB6VY4YsjQ5SxJzrWa5JUdUfD2dBl66rbYT51dHJMfOy+gauzrr7XjFraAFqCZLDHwp9W4HymfIGEEvG6N89GNmq0rHBsxdOszIPRiU" />
    <add key="ABCpdfLicence" value="X/VKS0cMn5FgsCJaa6qBao/+L7ZPQ4MYlq3wxL3FA0ojxkiVPH3rYMVWQ0lkwg8KCtU24j9HuSIdr6IqQbV2xFctfGKVBH863zFMO/XgBjbi1y7S5MlUFrjUWBKMcmImUL1oUMFb8wtwCFVMoSiSIEERXiebQ2W5r+Qn81U4T+/CpdgBuze303/KpbpLiDhLIRcK7wQ34mWDSTMJZNt4qmw6tUyRIu5eLuGcKBTiXeTwPjcl0cuiNTdH" />
  </appSettings>
  <connectionStrings>
    <!--  WF 
    <add name="wf_lookup" connectionString="Data Source=(local);Integrated Security=SSPI;Initial Catalog=wf_lookup"/> 
    <add name="ConnectionString_user" connectionString="User ID=sa;password=Kaktus_4;Data Source=wf6.winfinans.dk,17983;Initial Catalog=wf_lookup;Max Pool Size=600;"/> -->

    <!--
    <add name="ConnectionString_c" connectionString="User ID=wfapp_txt;password=adminwinnu;Data Source=app05.winfinans.dk,14333;Initial Catalog=wf_connect;Max Pool Size=600;"/>
    <add name="ConnectionString_p" connectionString="User ID=wfapp_user;password=adminwinnu;Data Source=app05.winfinans.dk,14333;Initial Catalog=wf_conn_user;Max Pool Size=600;"/>
    <add name="ConnectionString" connectionString="User ID=wfapp_user;password=adminwinnu;Data Source=app05.winfinans.dk,14333;Initial Catalog=wf_conn_user_local;;Max Pool Size=600;"/>
-->
    
    <add name="ConnectionString_user" connectionString="User ID=wfapp_user;password=wfapp_user;Data Source=wf7.winfinans.dk,17983;Initial Catalog=wf_users;Max Pool Size=800;"/>
    <add name="ConnectionString_translate" connectionString="User ID=wfapp_dictionary;password=wfapp_dictionary;Data Source=wf7.winfinans.dk,17983;Initial Catalog=wf_dictionary;Max Pool Size=800;"/>
    <add name="wf_lookup" connectionString="User ID=wfapp_lookup;password=wfapp_lookup;Data Source=wf7.winfinans.dk,17983;Initial Catalog=wf_lookup;Max Pool Size=800;"/>
    <add name="ConnectionString_update" connectionString="User ID=wfapp_update;password=wfapp_update;Data Source=wf7.winfinans.dk,17983;Initial Catalog=wf_update;Max Pool Size=600;" />
     
    
    <!--     Lauritz 
    <add name="wf_lookup" connectionString="Data Source=193.238.185.188;User ID=sql_Finans;password=A12345bcd;Initial Catalog=wf_lookup" />
    <add name="ConnectionString_c" connectionString="Data Source=193.238.185.188;User ID=sql_Finans;password=A12345bcd;Initial Catalog=wcf_support;Max Pool Size=600;" />
    <add name="ConnectionString_p" connectionString="Data Source=193.238.185.188;User ID=sql_Finans;password=A12345bcd;Initial Catalog=wcf_support;Max Pool Size=600;" />
    <add name="ConnectionString" connectionString="Data Source=193.238.185.188;User ID=sql_Finans;password=A12345bcd;Initial Catalog=wcf_support;Max Pool Size=600;" />
     -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="4194304" maxBufferSize="4194304"
          maxReceivedMessageSize="4194304" />
        <binding name="BasicHttpBinding_IUBLValidation" maxBufferPoolSize="2097152"
          maxBufferSize="2097152" maxReceivedMessageSize="2097152" />
        <binding name="BasicHttpBinding_IWFReport" maxBufferPoolSize="2097152"
          maxBufferSize="2097152" maxReceivedMessageSize="2097152" />
        </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ublvalidation.winfinans.dk/ValdationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUBLValidation"
        contract="UBLValidator.IUBLValidation" name="BasicHttpBinding_IUBLValidation" />
      <endpoint address="http://report01.winfinans.dk/WFReports.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWFReport"
        contract="WFReports.IWFReport" name="BasicHttpBinding_IWFReport" />
      </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>