<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
   </appSettings>
  <connectionStrings>
     
    <add name="ConnectionString_user" connectionString="User ID=wfapp_user;password=wfapp_user;Data Source=wf7.winfinans.dk,17983;Initial Catalog=wf_users;Max Pool Size=800;"/>
    <add name="ConnectionString_translate" connectionString="User ID=wfapp_dictionary;password=wfapp_dictionary;Data Source=wf7.winfinans.dk,17983;Initial Catalog=wf_dictionary;Max Pool Size=800;"/>
    <add name="wf_lookup" connectionString="User ID=wfapp_lookup;password=wfapp_lookup;Data Source=wf7.winfinans.dk,17983;Initial Catalog=wf_lookup;Max Pool Size=800;"/>
    <add name="ConnectionString_update" connectionString="User ID=wfapp_update;password=wfapp_update;Data Source=wf7.winfinans.dk,17983;Initial Catalog=wf_update;Max Pool Size=600;" />
     
    
    <!--     Lauritz 
     <add name="wf_lookup" connectionString="Data Source=193.238.185.188;User ID=sql_Finans;password=A12345bcd;Initial Catalog=wf_lookup" />
     <add name="ConnectionString_c" connectionString="Data Source=193.238.185.188;User ID=sql_Finans;password=A12345bcd;Initial Catalog=wcf_support;Max Pool Size=600;" />
     <add name="ConnectionString_p" connectionString="Data Source=193.238.185.188;User ID=sql_Finans;password=A12345bcd;Initial Catalog=wcf_support;Max Pool Size=600;" />
     <add name="ConnectionString" connectionString="Data Source=193.238.185.188;User ID=sql_Finans;password=A12345bcd;Initial Catalog=wcf_support;Max Pool Size=600;" />
    -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUBLValidation" maxBufferPoolSize="2097152"
          maxBufferSize="2097152" maxReceivedMessageSize="2097152" />
        <binding name="BasicHttpBinding_IWFReport" maxBufferPoolSize="2097152"
          maxBufferSize="2097152" maxReceivedMessageSize="2097152" />
        <binding name="BasicHttpBinding_IWFReports" receiveTimeout="00:10:00" maxReceivedMessageSize="60000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ublvalidation.winfinans.dk/ValdationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUBLValidation"
        contract="UBLValidator.IUBLValidation" name="BasicHttpBinding_IUBLValidation" />
      <endpoint address="http://report01.winfinans.dk/WFReports.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWFReports"
        contract="wf_rep.IWFReports" name="BasicHttpBinding_IWFReports" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
     <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    
    
  </system.webServer>
</configuration>